.container-services {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .box-services {
        z-index: 1;
        border-radius: 8px;
        overflow:auto;
        background: var(--gray);
        width: 80%;
        height: 55vh;
        padding: 2rem;
        transform: translateY(-15%);

        &::-webkit-scrollbar {
            border-radius: 10px;
            height: 30px;
            width: 15px;

          }
        
          &::-webkit-scrollbar-thumb {
            padding: 2rem;
            background: var(--gold);
            border-radius: 10px 0px;
          }
        
        .content-box-services {
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly;

            .title-box-services {
                color: var(--color-primary);
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
            .content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 2.5rem;
         
                > .imgService {
                    width: 23%;
                }
                .text-services {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;

                    a {
                        margin-top: 1rem;
                        text-decoration: underline;
                        color: var(--color-primary);
                        cursor: pointer;
                    }
    
                    h2 {
                        font-weight: 600;
                        font-size: 2.5rem;
                        color: var(--color-primary);
                        text-align: center;
                        letter-spacing: 0.8px;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
    
                    span {
                        width: 100%;
                        color: var(--color-primary);
                        font-weight: 400;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .group-circles {
            display: flex;
            align-items: center;
            justify-content: center;

            .circle {
                display: flex;
                justify-content: center;
                margin: 0.8rem;
                background-color: var(--color-primary);
                padding: 0.5rem;
                border-radius: 50px;
                cursor: pointer;
                
                .selected {
                    display: flex;
                    justify-self: center;
                    padding: 0.3rem;
                    width: 0.5%;
                    border-radius: 50px;
                }

                .selected.active {
                    background-color: var(--gray);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container-services {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    
        .box-services {
            z-index: 1;
            border-radius: 8px;
            overflow:auto;
            background: var(--gray);
            width: 80%;
            height: 55vh;
            padding: 2rem;
            transform: translateY(-15%);
            
            .content-box-services {
                display: flex;
                align-items:center;
                justify-content: space-evenly;
                flex-direction: column;
    
                > img {
                    width: 50%;
                }

              
                
                .text-services {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

    
                    h2 {
                        font-weight: 600;
                        font-size: 1.3rem;
                        color: var(--color-primary);
                        text-align: center;
                        letter-spacing: 0.8px;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
    
                    span {
                        width: 100%;
                        color: var(--color-primary);
                        font-weight: 400;
                        font-size: 0.9rem;
                        text-align: center;
                    }
                }
            }
    
            .group-circles {
                display: flex;
                align-items: center;
                justify-content: center;
    
                .circle {
                    display: flex;
                    justify-content: center;
                    margin: 1rem;
                    background-color: var(--color-primary);
                    padding: 0.2rem;
                    border-radius: 50px;
                    cursor: pointer;
                    
                    .selected {
                        display: flex;
                        justify-self: center;
                        padding: 0.2rem;
                        width: 0.5%;
                        border-radius: 50px;
                    }
    
                    .selected.active {
                        background-color: var(--gray);
                    }
                }
            }
        }
    }
}