/* ========= GLOBAL ========= */

:root {
    --black: #333;
    --red: #E03E3E;
    --gold: #E09F3E;
    --white: #fff;
    --blue: #3E7FE0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* Equivale a 15px */
    overflow: auto;
    scroll-behavior: smooth;
}


body {
    background-image: url(../img/back-login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}


/* ========= LOGIN ========= */

.container-main {
    background: #3333331e;
    position: fixed;
    width: 40%;
    right: 0;
    bottom: 0;
    top: 0;
}

.container-login {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-login {
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);
    text-transform: uppercase;
}

.input-group {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-email {
    position: absolute;
    margin-right: 20rem;
    width: 2rem;
}

.input-group input {
    background: none;
    width: 25rem;
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    padding-left: 18%;
    border: solid 2px var(--red);
    color: var(--black);
    font-weight: 700;
    transition: 0.4s
}

.input-group input:focus {
    box-shadow: rgba(255, 52, 52, 0.45) 0px 25px 20px -20px;
}

.input-group input::placeholder {
    color: var(--red);
}

.button-login {
    background: var(--gold);
    margin-top: 8rem;
    padding: 1.3rem;
    width: 25rem;
    color: var(--white);
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.4s;
}

.button-login:hover {
    background: #f3a531
}

/* ========= RESPONSIVE ========= */

@media (max-width: 800px) {

    /* ========= LOGIN ========= */
    
    .container-main {
        background: #ffffff62;
        width: 100%;
    }

    .text-login {
        font-size: 2.5rem;
    }
    
    .input-group {
        margin-top: 1rem;
    }
    
    .icon-email {
        margin-right: 12rem;
        width: 1.5rem;
    }
    .input-group input {
        width: 15rem;
        padding: 0.5rem;
        padding-left: 18%;
    }
    .button-login {
        background: var(--gold);
        margin-top: 3rem;
        margin-bottom: 15rem;
        padding: 0.8rem;
        width: 15rem;
        color: var(--white);
        border-radius: 10px;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
    }
}


@media (width: 1024px) {

    /* ========= LOGIN ========= */
    
    .container-main {
        background: #ffffff62;
        width: 100%;
    }

    .text-login {
        font-size: 2.5rem;
    }
    
    .input-group {
        margin-top: 5rem;
    }
    
    .icon-email {
        margin-right: 12rem;
        width: 1.5rem;
    }
    .input-group input {
        width: 15rem;
        padding: 0.5rem;
        padding-left: 18%;
    }
    .button-login {
        background: var(--gold);
        margin-top: 5rem;
        margin-bottom: 55rem;
        padding: 0.8rem;
        width: 15rem;
        color: var(--white);
        border-radius: 10px;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
    }
}


