/*================ GLOBAL ================*/

:root {
    --green: #8B9D3C;
    --white: #fff;
    --black: #000;
    --gray: #403A33;
    --red: #DF525A;
    --blue: #0491B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.5%;
}

body {
    background-color: var(--white);
    overflow: auto;
}

#container-main {
    width: min(90vw, 800px);
    display: flex;
}

header{
    background: var(--green);
}

#loc {
    color: var(--white);
    text-decoration: underline;
}


/*================ LOGIN ================*/

.container-login {
    display: flex;
}

.container-msg.user {
    background: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100vh;
}

.text.login-msg {
    color: var(--white);
    font: 500 3.8rem Ubuntu, 'sans-serif';
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.logo {
    color: var(--white);
    font: 400 3rem Oswald, 'sans-serif';
    text-decoration: none;
}

.form-login {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.text.login-title {
    color: var(--black);
    font: 400 3rem Ubuntu, 'sans-serif';
    margin-bottom: 3.5rem;
}

.input-email, .input-username {
    background: var(--white);
    border: solid 3px var(--green);
    width: 40%;
    padding: 1rem;
    outline: none;
    font: 400 1rem Ubuntu, 'sans-serif';
    margin-bottom: 3.5rem;
}


.input-email::placeholder {
    font: 300 italic 1rem Ubuntu, 'sans-serif';
}

.icon-eye {
    width: 2rem;
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 10rem;
    cursor: pointer;
    transition: all 0.2s;
}

.icon-eye.off {
    display: none;
}

.button.login {
    background: var(--green);
    border: none;
    padding: 1rem;
    width: 25%;
    font: 400 1.5rem Ubuntu, 'sans-serif';
    color: var(--white);
    cursor: pointer;
    margin-bottom: 3.5rem;
}

.link-login {
    font: 400 1rem Ubuntu, 'sans-serif';
    color: var(--gray)
}

/*================ HOME ================*/
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.text-nav {
    color: var(--white);
    text-decoration: none;
    font: 400 1.5rem Ubuntu, 'sans-serif';
    transition: all 0.2s;
}

.text-nav.func {
    color: #28281a;
}

.text-nav:hover {
    padding-bottom: 0.5rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container-home {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    height: 86.5vh; 
    background-color:red;
}

.box-black {
    background-color: var(--black);
    width: 45%;
}

.box-brown {
    background-color: #403A33;
    width: 75%;
}

.container-slogan {
    margin-top: 12rem;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.container-slogan.func {
    background: #28281a;
    margin-top: 0rem;
    padding: 2rem;
    width: 100%;
    height: 40%;
}

.text-slogan {
    color: var(--white);
    text-align: center;
    font: 500 4.5rem Ubuntu, 'sans-serif';
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.container-images {
    background-color: red;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 5fr;
}
.row-one, .row-two {
    background-color: blue;
}

.row-one img, .row-two img{

    width: 12rem;
    height: 12rem;
}

.button-home {
    background: var(--green);
    border: none;
    padding: 1rem;
    width: 40%;
    font: 400 1.5rem Ubuntu, 'sans-serif';
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s;
}

.button-home:hover {
    padding-left: 2rem;
}

/*================ ANIMALS ================*/
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left: 5rem;
}

.title-animal {
    font: 400 3rem Ubuntu, 'sans-serif';
    color: var(--white);
    margin-bottom: 5rem;
}

.text-animal {
    font: 400 1.3rem Ubuntu, 'sans-serif';
    color: var(--white);
    width: 80%;
    text-align: left;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    transition: transform .5s ease-in-out;
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.down-button svg, .up-button svg {
    width: 3rem;
    border: none;
}


.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
}

.action-buttons button {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 100;
    background-color: var(--white);
    border: none;
    color: #403A33;
    outline: none;
    cursor: pointer;
}

.down-button {
    transform:  translateX(-100%);
}

.up-button {
    transform:  translateY(-100%);
}



/*================ RESPONSIVE ================*/

@media (max-width: 800px ) {

    /*================ GLOBAL ================*/
    html {
        font-size: 85.75%;
    }

    /*================ LOGIN ================*/
    .container-msg.user {
        display: none;
    }
    .form-login{
        width: 100%;
        padding-top: 3rem;
    }
    .input-email {
        width: 80%;
    }
    .icon-eye {
        margin-left: 3rem;
        width: 1.5rem;
    }
    .button.login  {
        width: 50%;
    }

    /*================ HOME ================*/

    .text-nav{
        font-size: 1rem;
    }

    .logo {
        font-size: 1.8rem;
    }
    
    .text-nav.func {
        font-size: 0.8rem;
    }

    .text-slogan {
        font-size: 3rem;
    }
        
    .container-slogan {
        margin-top: 6rem;
    }

    /*================ ANIMALS ================*/
    .div{
        padding-left: 1rem;
    }
    .title-animal{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .text-animal{
        font-size: 0.6rem;
        width: 70%;
        margin-bottom: 15rem;
    }

}

@media (width: 1024px) {
    /*================ GLOBAL ================*/
    html {
        font-size: 85.75%;
    }

    /*================ LOGIN ================*/
    .container-msg.user {
        display: none;
    }
    .form-login{
        width: 100%;
        padding-top: 3rem;
    }
    .input-email {
        width: 70%;
    }
    .button.login  {
        width: 50%;
    }
}