/*======== GLOBAL ==========*/
:root {
    --background: #fff;
    --background-header-footer: #7CC9E8;
    --background-thead: #DDDDDD;
    --background-tbody: #EFEFEF;
    --color-text-white: #EFEFEF;
    --color-title-section: #535454;
    --color-text-new-phone: #E8B27C;
    --color-text-table: #3B3B3B;
    --button-edit: #7CC9E8;
    --button-remove: #E87C7C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%
}

body {
    background-color: var(--background);
    font-family: 'Acumin Pro', sans-serif;
    overflow: auto;
}

/*====== HEADER =========*/
header {
    background-color: var(--background-header-footer)
}

.container-header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 5rem;
}

.title-logo {
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: var(--color-text-white);
    font-weight: 400;
    font-size: 2rem;
}

/*======= MAIN ============*/
#container-main {
    width: min(110vw, 1000px);
    margin: auto;
}


/*======= SECTION TITLE ===========*/
.section-title {
    padding: 5rem 0.5rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.text-title-section {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-title-section);
}

.text-new-phone {
    color: var(--color-text-new-phone);
    transition: 0.25s;
}

.text-new-phone:hover {
    margin-bottom: 0.5rem;
}

/*======== TABLE =============*/
.section-table {
    overflow: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0rem 0.5rem;
    overflow: auto;
}

table thead th {
    background-color: var(--background-thead);
    color: var(--color-text-table);
    padding: 1.5rem;
}

table tbody td {
    background-color: var(--background-tbody);
    padding: 1rem;
    text-align: center;
    color: var(--color-text-table);

}

.container-buttons {
    display: grid;
}

.container-buttons input {
    margin-top: 0.2rem;
    background-color:none;
    padding: 0.5rem 1rem 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.button-edit {
    border: solid 3px var(--button-edit);
    color: var(--button-edit);
    transition: 0.6s;
}

.button-edit:hover {
    background: var(--button-edit);
    color: #fff;
}

.button-remove {
    border: solid 3px var(--button-remove);
    color: var(--button-remove);
    transition: 0.6s;
}

.button-remove:hover {
    background-color: var(--button-remove);
    color: #fff
}

/*======= FOOTER =============*/

footer {
    background-color: var(--background-header-footer);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0.5rem 0.8rem
}

.text-footer {
    color: var(--color-text-white);
    font-size: 1.8rem;
    font-weight: 400;
}

/*======= RESPONSIVE ==========*/
@media (max-width: 800px) {

    /*====== GLOBAL =========*/
    
    html {
        font-size: 87.75%;
    }


    /*===== HEADER =======*/
    
    .container-header {
        padding: 1rem;
    }

    .img-logo {
        width: 3rem;
    }

    .title-logo {
        font-size: 1.5rem;
    }
     
    /*======= MAIN ============*/
    #container-main {
        width: min(90vw, 800px);
        margin: auto;
    }

    /*======= SECTION TITLE ===========*/
    .section-title {
        padding: 3rem 0.5rem 1rem;
        display: grid;
        flex-direction:column;
        justify-content:flex-start;
        align-items: left;
        text-align: left;
    }

    .text-title-section {
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--color-title-section);
    }

    .text-new-phone {
        color: var(--color-text-new-phone);
    }

 
}